.Blog-intro {
  margin-bottom: 2.5rem;
}

.Blog-title {
  margin: 1rem 0;

  border-bottom: 1px solid var(--border-color);

  h3 {
    display: inline-block;
    margin-bottom: 0.25rem;

    color: var(--accent-color);
  }
}

.Blog-post {
  width: 35rem;
  max-width: 100%;
  margin: 5rem auto 2rem auto;

  @media (--mobile) {
    margin: 2rem auto;
  }
}

.Blog-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

html,
html[data-theme="light"] {
  .Blog-content code:not([class*="language"]) {
    padding: 0rem 0.25rem 0.1rem 0.25rem;

    background-color: rgb(40, 41, 54);
    border-radius: 0.2rem;
    color: rgb(226, 226, 226);
  }
}

html[data-theme="dark"] {
  .Blog-content code:not([class*="language"]) {
    color: rgb(255, 184, 108);
  }
}

.Blog-content {
  margin-top: 2rem;
  margin-bottom: 2rem;

  border-bottom: 1px solid var(--border-color);

  em {
    font-style: italic;
  }

  pre {
    margin-bottom: 2rem !important;
  }

  pre > code {
    background: none;
  }

  ul {
    padding-left: 2rem;
    margin-bottom: 2rem;

    list-style: disc;
  }

  ol {
    padding-left: 2rem;
    margin-bottom: 2rem;

    list-style: decimal;
  }

  li {
    line-height: 1.5;
  }

  blockquote {
    padding: 1rem 0 1rem 1rem;
    margin-bottom: 2rem;

    border-left: 2px solid var(--accent-color);

    &,
    * {
      color: var(--accent-color);
    }

    * {
      margin: 0;
    }

    * + * {
      margin-top: 0.5rem;
    }
  }

  img {
    height: auto;
    max-width: 100%;
  }
}

.Blog-footer {
  display: flex;
  flex-direction: column;

  text-align: center;

  p {
    margin-bottom: 1rem;
  }
}

.Blog-seeMore {
  margin-bottom: 1rem;
}
