.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Nav-title {
  margin-bottom: 0.5rem;

  font-weight: bold;
}

.Nav-description {
  margin-bottom: 2rem;

  font-size: var(--text-l);
  white-space: nowrap;
}

.Nav-links {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0 -0.5rem;
}

.Nav-link {
  padding: 0.5rem;
}

.Nav-link.isActive {
  font-weight: bold;
}
