.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5rem;

  @media (--mobile) {
    flex-direction: column;
    align-items: baseline;
  }
}

.Nav-titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Nav-title {
  margin: 0;

  font-weight: bold;
}

.Nav-description {
  margin-bottom: 2rem;

  font-size: var(--text-l);
  white-space: nowrap;
}

.Nav-links {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin: 0 -0.5rem;

  @media (--mobile) {
    flex-wrap: wrap;
  }
}

.Nav-link {
  padding: 0.5rem;
}

.Nav-link.isActive {
  font-weight: bold;
}
