html {
  --page-height: calc(100% - 7.5rem);
  height: var(--page-height);
}

body {
  height: 100%;
}

.Page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Page-limitedWidth {
  max-width: 968px;
  padding: 0 2rem;
  margin: 0 auto;
}

.Page-nav {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin-right: 4rem;

  text-align: center;

  @media (width <= 1024px) {
    margin-right: 0rem;
    margin-bottom: 4rem;
  }
}

.Page-content {
  margin: 4rem 0;

  @media (--tablet) {
    margin: 4rem 0;
  }
}

.Page-footer {
  padding: 2rem 0;
  margin-top: auto;

  background-color: var(--accent-color);

  svg {
    color: white;
  }
}
