.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: -0.5rem 0;
}

.Project {
  padding: 0.5rem 0;
}

.Project-titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.25rem;
}

.Project-title {
  display: block;
  margin-bottom: 0.25rem;

  color: var(--accent-color);

  font-size: var(--text-xl);
}

.Project-github {
  width: 1.5rem;
  margin-left: 1rem;

  fill: currentColor;
}

.Project-description {
  display: block;
  margin-bottom: 0.5rem;
}

.Project-tags {
  display: block;

  color: var(--light-text-color);
}
