<nav class="flex flex-col text-center text-gray-800">
  <h1 class="mb-2 font-bold">Francisco Sousa</h1>

  <h2 class="text-lg mb-8 whitespace-no-wrap">
    Software Developer @
    <a
      class="text-teal-600"
      target="_blank"
      rel="noopener"
      href="https://finiam.com"
      >finiam.com</a
    >
  </h2>

  <ul class="flex flex-row justify-center content-center -mx-2">
    {% for item in social %}
    <li class="px-2">
      <a
        target="_blank"
        rel="noopener"
        href="{{ item.href }}"
        aria-label="{{ item.name }}"
      >
        <div class="w-6 fill-current">{% include item.icon %}</div>
      </a>
    </li>
    {% endfor %}
  </ul>

  <ul class="flex flex-row justify-center content-center mt-8 -mx-2">
    <li class="px-2">
      <a
        class="text-teal-600 {% if page.url == '/'%}font-bold{% endif %}"
        href="/"
        >Home</a
      >
    </li>
    <li class="px-2">
      <a
        class="text-teal-600 {% if page.url == '/books.html' %}font-bold{% endif %}"
        href="/books"
        >Bookshelf</a
      >
    </li>
    <li class="px-2">
      <a
        class="text-teal-600 {% if page.url == '/blog.html' %}font-bold{% endif %}"
        href="/blog"
        >Blog</a
      >
    </li>
  </ul>
</nav>
