<nav class="Nav">
  <div class="Nav-titleContainer">
    <h1 class="Nav-title">
      <a href="/">Francisco Sousa</a>
    </h1>
    <button
      class="ThemeToggle ThemeToggle-mobile"
      title="Toggle dark/light mode"
      onclick="window.handleThemeToggle()"
    ></button>
  </div>

  <ul class="Nav-links">
    <li class="Nav-link {{ 'Nav-link isActive' if page.url == '/' }}">
      <a href="/">Home</a>
    </li>
    <li
      class="Nav-link {{ 'Nav-link isActive' if '/about' in page.url }}"
    >
      <a href="/about">About</a>
    </li>
    <li
      class="Nav-link {{ 'Nav-link isActive' if '/projects' in page.url }}"
    >
      <a href="/projects">Projects</a>
    </li>
    <li
      class="Nav-link {{ 'Nav-link isActive' if '/books' in page.url }}"
    >
      <a href="/books">Bookshelf</a>
    </li>
    <li
      class="Nav-link {{ 'Nav-link isActive' if '/blog/' == page.url }}"
    >
      <a href="/blog/">Blog</a>
    </li>

    <li>
      <button
        class="Nav-link ThemeToggle ThemeToggle-regular"
        title="Toggle dark/light mode"
        onclick="window.handleThemeToggle()"
      ></button>
    </li>
  </ul>
</nav>
