<ul class="Social">
  {% for _, item in social %}
  <li class="Social-item">
    <a
      target="_blank"
      rel="noopener"
      href="{{ item.href }}"
      aria-label="{{ item.name }}"
    >
      <div class="Social-icon">{% include item.icon %}</div>
    </a>
  </li>
  {% endfor %}
</ul>
