---
layout: layouts/base.liquid
---

<link href="/assets/styles/prism.css" rel="stylesheet" data-helmet>

<div class="flex flex-col min-h-screen p-8 sm:px-4">
  <div class="max-w-3xl w-full mx-auto">
    {% include "components/nav.liquid" %}

    <main class="mt-32 mx-auto max-w-xl flex-grow">
      <h1 class="text-2xl mb-8 font-bold">
        {{ title }}
      </h1>

      <small>
        {{ date | formatDate }} ・ {{ content | readingTime }} min read
      </small>

      <article class="mt-8 prose">
        {{ content | safe }}
      </article>

      <div class="mt-6 pt-6 border-t border-wash-light border-solid text-center prose">
        <a href="/blog">See more posts</a>

        <p>
          Want to talk about this? Feel free to reach me on the web:
        </p>
      </div>
    </main>
  </div>

  <footer class="mt-8">
    {% include "components/social.liquid" %}
  </footer>
</div>
