@media only screen and (max-width: 980px) {
  .SocialLinks {
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 6em;
  }
}

a.SocialLinks-icon {
  text-decoration: none;
}

.SocialLinks-icon {
  font-size: 1.5em;
}

.SocialLinks-icon + .SocialLinks-icon {
  padding-left: 1em;
}

.SocialLinks-copyright {
  margin-top: 1em;
}
