@media only screen and (max-width: 980px) {
  .root {
    padding-top: 4em;
    padding-bottom: 6em;
    margin: 0 auto;
  }
}

.icon {
  font-size: 2em;
  text-decoration: none;

  transition: all .3s ease-in;

  &:hover {

    text-shadow: 0 0 1px white;

    transition: all .3s ease-out;

  }

  &::selection { background: black;
    color: white;

    text-shadow: none;
  }
}


.icon + .icon {
  margin-left: 1.25em;
}
