@import "../../styles/breakpoints.css";

.root {

}

.icon {
  font-size: 2em;
  text-decoration: none;

  transition: all 0.3s ease-in;

  &:hover {
    text-shadow: 0 0 1px white;

    transition: all 0.3s ease-out;
  }

  &::selection {
    background: black;
    color: white;

    text-shadow: none;
  }

  @include Breakpoint-mobileOnly {
    font-size: 1.35em;
  }
}

.icon + .icon {
  margin-left: 1.25em;
}
