---
layout: layouts/page.njk
title: Blog | Francisco Sousa
description: A software developer.
---

<div class="Blog-intro">
  <h2>Blog</h2>

  <p>
    My thoughts on making computers do stuff.
  </p>
</div>

{%- for post in collections.posts | reverse | slice(2) -%}
  <link rel="preload" href="{{ post.url }}" />
{%- endfor -%}

<ul>
  {%- for post in collections.posts | reverse -%}
  <li class="Blog-title">
    <a href="{{ post.url }}">
      <h3>{{ post.data.title }}</h3>
    </a>

    <small>{{ post.data.date | formatDate }}</small>

    <p>{{ post.data.description }}</p>
  </li>
  {%- endfor -%}
</ul>
