---
layout: layouts/page.njk
title: Blog | Francisco Sousa
description: A software developer.
---

<div class="Blog-intro">
  <h2>My blog</h2>

  <p>
    My thougths and ramblings. I'll talk about tech, food, drinks, politics, DnD
    or just about anything I want. Proceed at your peril.
  </p>
</div>

<ul>
  {%- for post in collections.posts | reverse -%}
  <li class="Blog-title">
    <a href="{{ post.url }}">
      <h3>{{ post.data.title }}</h3>
    </a>

    <small>{{ post.data.date | formatDate }}</small>

    <p>{{ post.data.description }}</p>
  </li>
  {%- endfor -%}
</ul>
