---
layout: layouts/page.liquid
title: Bookshelf
description: A software developer.
---

<h2 class="text-2xl mb-8">Stuff I've read</h2>

<p class="prose">
  My personal bookshelf. Not much to say, just wanted to make nice things with
  the Goodreads API 😛
</p>

<ul class="space-y-4 mt-8">
  {% for book in books %}
  <li>
    <a
      class="text-accent"
      href="{{ book.url }}"
      target="_blank"
      rel="noopener"
    >
      {{ book.short_title }}
    </a>

    <span class="prose">by {{ book.author }} </span>
  </li>
  {% endfor %}
</ul>
