@import "normalize.css";
@import "./misc/reset.css";
@import "./misc/prism.css";

/* Components */

@import "./components/*.css";

/* Defaults */

html {
  --text-3xl: 1.875rem;
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-l: 1.125rem;
  --text-base: 1rem;
  --text-s: 0.8rem;

  --bg-color: #fbfef9;
  --accent-color: #0a79c4;
  --border-color: #e2e8f0;
  --light-text-color: #6a6b80;
  --text-color: #2d3748;
  --heading-color: black;

  @media (prefers-color-scheme: dark) {
    --bg-color: black;
    --light-text-color: #75757b;
    --text-color: #dbdbdb;
    --heading-color: white;
  }
}

html[data-theme="dark"] {
  --bg-color: black;
  --light-text-color: #75757b;
  --text-color: #dbdbdb;
  --heading-color: white;
}

html[data-theme="light"] {
  --bg-color: #fbfef9;
  --accent-color: #0a79c4;
  --border-color: #e2e8f0;
  --light-text-color: #6a6b80;
  --text-color: #2d3748;
  --heading-color: black;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: "Mulish", Arial, sans-serif;
}

/* Breakpoints */
@custom-media --tablet (width <= 1024px);
@custom-media --mobile (width <= 600px);

/* Font Loading Animation */

html.has-js.no-font > body {
  opacity: 0;
}

html.has-js.has-font > body {
  opacity: 1;

  transition: opacity 0.5s;
}

/* Default focus styles */
*:focus {
  outline: 1px dashed var(--accent-color);
}
