<!DOCTYPE html>
<html lang="en" class="no-js">
  {% if title %}
    {% set realTitle = title + " - Francisco Sousa" %}
  {% else %}
    {% set realTitle = "Francisco Sousa" %}
  {% endif %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" property="og:title" content="{{ realTitle }}" />
    <meta name="author" property="og:author" content="Francisco Sousa" />
    <meta
      name="description"
      property="og:description"
      content="{{ description }}"
    />
    <meta name="keywords" content="{{ keywords }}" />

    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      property="twitter:title"
      content="{{ realTitle }}"
    />
    <meta
      name="twitter:creator"
      property="twitter:creator"
      content="{{ social.twitter.value }}"
    />
    <meta
      name="twitter:description"
      property="twitter:description"
      content="{{ description }}"
    />
    <meta
      name="twitter:url"
      property="twitter:url"
      content="{{ global.siteUrl + page.url }}"
    />

    <title>
      {{realTitle}}
    </title>

    <link rel="preconnect" href="https://jfranciscosousa.goatcounter.com" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="dns-prefetch" href="https://jfranciscosousa.goatcounter.com" />
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />

    <link href="/assets/styles/index.css" rel="stylesheet">

    {% if global.environment() == "production" %}
      {% include "utilities/analytics.njk" %}
    {% endif %}

    <script>
      {% include "utilities/initThemeToggle.js" %}
    </script>
  </head>

  <body>
    {{ content | safe }}

    <script type="module" src="/assets/scripts/index.js"></script>
    <script type="module" src="/assets/scripts/turbolinks.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazysizes@5/lazysizes.min.js"></script>
  </body>
</html>
