<!DOCTYPE html>
<html lang="en" class="no-js no-font">
  {% if title %}
    {% set realTitle = title + " - Francisco Sousa" %}
  {% else %}
    {% set realTitle = "Francisco Sousa" %}
  {% endif %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" property="og:title" content="{{ realTitle }}" />
    <meta name="author" property="og:author" content="Francisco Sousa" />
    <meta
      name="description"
      property="og:description"
      content="{{ description }}"
    />
    <meta name="keywords" content="{{ keywords }}" />

    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      property="twitter:title"
      content="{{ realTitle }}"
    />
    <meta
      name="twitter:creator"
      property="twitter:creator"
      content="{{ social.twitter.value }}"
    />
    <meta
      name="twitter:description"
      property="twitter:description"
      content="{{ description }}"
    />
    <meta
      name="twitter:url"
      property="twitter:url"
      content="{{ global.siteUrl + page.url }}"
    />

    <title>
      {{realTitle}}
    </title>

    <style data-purge>
      {% include "assets/index.css" %}
    </style>

    <link rel="preconnect" href="https://jfranciscosousa.goatcounter.com" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="dns-prefetch" href="https://jfranciscosousa.goatcounter.com" />
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />

    <script defer="true" async="true" src="/scripts/index.js"></script>
    <script defer="true" async="true" src="/scripts/pjax.js"></script>
    <script defer="true" async="true" src="https://cdn.jsdelivr.net/npm/lazysizes@5/lazysizes.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    {% if global.environment() == "production" %}
      {% include "utilities/analytics.njk" %}
    {% endif %}

    {% if global.environment() == "development" %}
      <script>
        document.write(
          '<script src="http://' +
            (location.host || "localhost").split(":")[0] +
            ':35729/livereload.js?snipver=1"></' +
            "script>",
        );
      </script>
    {% endif %}
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>
