---
layout: layouts/base.liquid
permalink: "{{ page.filePathStem }}.html"
---

<div class="Page">
  <div class="Page-limitedWidth">
    {% include "components/nav.liquid" %}

    <main class="Page-content">
      {{ content | safe }}
    </main>
  </div>

  <footer class="Page-footer">
    {% include "components/social.liquid" %}
  </footer>
</div>
