---
layout: layouts/base.njk
---

<div class="Page">
  <nav class="Page-nav">
    <h1 class="Nav-title">Francisco Sousa</h1>

    <h2 class="Nav-description">
      Software Developer @
      <a target="_blank" rel="noopener" href="https://finiam.com">finiam.com</a>
    </h2>

    {% include "components/social.njk" %}

    <ul class="Nav-links">
      <li
        class="Nav-link {% if page.url == '/' %}Nav-link isActive{% endif %}"
      >
        <a href="/">Home</a>
      </li>
      <li
        class="Nav-link {% if page.url == '/books.html' %}Nav-link isActive{% endif %}"
      >
        <a href="/books">Bookshelf</a>
      </li>
      <li
        class="Nav-link {% if page.url == '/blog/' %}Nav-link isActive{% endif %}"
      >
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>

  <main class="Page-content">
    {{ content | safe }}
  </main>
</div>
