---
layout: layouts/base.njk
---

<div class="Page">
  <div class="Page-limitedWidth">
    {% include "components/nav.njk" %}

    <main class="Page-content">
      {{ content | safe }}
    </main>
  </div>

  <footer class="Page-footer">
    {% include "components/social.njk" %}
  </footer>
</div>
