---
layout: layouts/base.njk
---

<main class="Blog-post">
  <div class="Blog-nav">
    <div class="text-teal-600">A blog by <a href="/">Francisco</a></div>

    <a href="/blog">See more posts</a>
  </div>

  <h1>{{ title }}</h1>

  <small>{{ date | formatDate }}</small>

  <div class="Blog-content">{{ content | safe }}</div>
</main>
