---
layout: layouts/base.njk
---

<div class="Page">
  <div class="Page-limitedWidth">
    {% include "components/nav.njk" %}

    <main class="Blog-post">
      <h1>{{ title }}</h1>

      <small>{{ date | formatDate }}</small>

      <article class="Blog-content">{{ content | safe }}</article>

      <div class="Blog-footer">
        <a class="Blog-seeMore" href="/blog">See more posts</a>

        <p>
          Want to talk about this? Feel free to reach me on the web:
        </p>

        {% include "components/social.njk" %}
      </div>
    </main>
  </div>
</div>
