---
layout: layouts/base.njk
---

<main class="Blog-post">
  <div class="Blog-nav">
    <div class="text-teal-600">A blog by <a href="/">Francisco</a></div>

    <a href="/blog">See more posts</a>
  </div>

  <h1>{{ title }}</h1>

  <small>{{ date | formatDate }}</small>

  <div class="Blog-content">{{ content | safe }}</div>

  <div class="Blog-footer">
    <p>
      Want to talk about this? Feel free to reach me on the web:
    </p>

    {% include "components/social.njk" %}
  </div>
</main>
