<script>
  window.addEventListener("turbolinks:request-end", function (e) {
    window.goatcounter.count({
      path: location.pathname + location.search + location.hash,
    });
  });
</script>
<script
  data-goatcounter="https://jfranciscosousa.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"
></script>
