@import "../styles/breakpoints.css";
@import "../styles/variables.css";

.root {
  display: flex;
  flex-direction: column;

  section {
    margin: 0 auto;
  }

  section:not(:first-child) {
    padding: 3em 0 0;
    margin-top: 3em;

    border-top: 2px solid #efefef;
  }
}

.content {
  padding: 4em 4em;

  @include Breakpoint-desktopOnly {
    margin-left: $sidemenu-width;
  }

  @include Breakpoint-tabletAndBelow {
    padding: 4em 2em 2em;
  }

  p:not(:last-child) {
    margin-bottom: 1.5em;
  }

  h2 {
    margin-bottom: 0.25em;
  }

  a {
    color: #51ada8;

    text-decoration: underline;
  }

  a:hover {
    color: #377470;
  }

  section {
    max-width: 40em;
  }
}
