.Social {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.Social-item:not(:last-child) {
  margin-right: 0.5rem;
}

.Social-icon {
  width: 1.5rem;

  & svg {
    color: var(--text-color);
  }
}
