<nav class="flex flex-row justify-between md:flex-col">
  <div class="flex flex-row items-center justify-between md:mb-4">
    <a class="text-3xl font-semibold font-sans" href="/">Francisco Sousa</a>

    <button
      class="ThemeToggle hidden sm:block"
      title="Toggle dark/light mode"
      onclick="window.handleThemeToggle()"
    ></button>
  </div>

  <ul class="flex flex-row items-center space-x-4 text-accent">
    <li class="{% if page.url == '/' %} font-bold {% endif %}">
      <a class="hover:opacity-100" href="/">Home</a>
    </li>
    <li
      class="{% if page.url == '/about.html' %} font-bold {% endif %}"
    >
      <a class="hover:opacity-100" href="/about">About</a>
    </li>
    <li
      class="{% if page.url == '/projects.html' %} font-bold {% endif %}"
    >
      <a class="hover:opacity-100" href="/projects">Projects</a>
    </li>
    <li
      class="{% if page.url == '/books.html' %} font-bold {% endif %}"
    >
      <a class="hover:opacity-100" href="/books">Bookshelf</a>
    </li>
    <li
      class="{% if page.url == '/blog/' %} font-bold {% endif %}"
    >
      <a class="hover:opacity-100" href="/blog/">Blog</a>
    </li>

    <li>
      <button
        class="ThemeToggle block sm:hidden"
        title="Toggle dark/light mode"
        onclick="window.handleThemeToggle()"
      ></button>
    </li>
  </ul>
</nav>
