<ul class="flex flex-row space-x-4 justify-center">
  {% for socialItem in social %}
  <li class="text-accent w-6">
    <a
      class="block"
      target="_blank"
      rel="noopener"
      href="{{ socialItem[1].href }}"
      aria-label="{{ socialItem[1].name }}"
    >
      {% include socialItem[1].icon %}
    </a>
  </li>
  {% endfor %}
</ul>
