@import "../../styles/breakpoints.css";

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3em 3em 3em;

  background-attachment: fixed;

  background-color: #3a3a3a;
  color: hsla(0, 0%, 100%, 0.651);

  text-align: center;
}

.root > * {
  margin: 0 auto;
}

.root > *:not(:first-child) {
  margin-top: 64px;
}

.melon {
  width: 250px;
  margin-top: 2em;

  margin-left: auto;

  border-radius: 10%;

  @include Breakpoint-mobileOnly {
    width: 50vw;
  }
}

.description {
  max-width: 25em;

  padding-top: 1em;

  a {
    text-decoration: underline;
  }

  a:hover {
    color: hsla(0, 0%, 50%, 0.651);
  }
}

.social {
  margin-top: auto;
}
