---
import { getCollection } from "astro:content";

const books = await getCollection("book");
---

<ul class="mt-8 space-y-4">
  {
    books.map((book) => (
      <>
        <li>
          <a
            class="text-accent"
            href={book.data.url}
            target="_blank"
            rel="noopener"
          >
            {book.data.shortTitle}
          </a>

          <span class="prose"> by {book.data.author}</span>
        </li>
      </>
    ))
  }
</ul>
