---
import siteData from "~/lib/siteData";
---

<footer>
  <ul class="flex flex-row space-x-4 justify-center">
    {
      Object.values(siteData.socials).map((socialItem) => (
        <>
          <li class="text-accent w-6">
            <a
              class="block"
              target="_blank"
              rel={socialItem.rel}
              href={socialItem.href}
              aria-label={socialItem.name}
              set:html={socialItem.icon}
            />
          </li>
        </>
      ))
    }
  </ul>

  <a
    class="text-accent text-sm flex justify-center mt-4 cursor-pointer"
    href="/privacy"
  >
    Privacy notes
  </a>
</footer>
