---
import siteData from "~/lib/siteData";
---

<footer class="border-t border-neutral-200 dark:border-neutral-400 pt-8 pb-10 mt-16">
  <div class="max-w-4xl mx-auto px-4">
    <ul class="flex flex-row justify-center space-x-6">
      {
        Object.values(siteData.socials).map((socialItem) => (
          <li class="w-6 h-6">
            <a
              class="block text-neutral-600 dark:text-neutral-600 hover:text-primary transition-colors duration-normal ease-smooth"
              target="_blank"
              rel={socialItem.rel}
              href={socialItem.href}
              aria-label={socialItem.name}
              set:html={socialItem.icon}
            />
          </li>
        ))
      }
    </ul>

    <div class="flex justify-center mt-6">
      <a class="text-sm font-medium text-neutral-600 dark:text-neutral-600 hover:text-primary transition-colors duration-normal ease-smooth" href="/privacy">
        Privacy policy
      </a>
    </div>
  </div>
</footer>
