---
import siteData from "~/lib/siteData";
---

<footer>
  <ul class="flex flex-row justify-center space-x-4">
    {
      Object.values(siteData.socials).map((socialItem) => (
        <>
          <li class="w-6 text-accent">
            <a
              class="block"
              target="_blank"
              rel={socialItem.rel}
              href={socialItem.href}
              aria-label={socialItem.name}
              set:html={socialItem.icon}
            />
          </li>
        </>
      ))
    }
  </ul>

  <a
    class="mt-4 flex cursor-pointer justify-center text-sm text-accent"
    href="/privacy"
  >
    Privacy notes
  </a>
</footer>
