---
import siteData from "~/lib/siteData";
---

<footer class="border-t border-t-wash-dark pt-5 pb-8">
  <ul class="flex flex-row justify-center space-x-4">
    {
      Object.values(siteData.socials).map((socialItem) => (
        <>
          <li class="w-6 text-accent">
            <a
              class="block"
              target="_blank"
              rel={socialItem.rel}
              href={socialItem.href}
              aria-label={socialItem.name}
              set:html={socialItem.icon}
            />
          </li>
        </>
      ))
    }
  </ul>

  <div class="flex justify-center">
    <a class="mt-4 cursor-pointer text-sm text-accent" href="/privacy">
      Privacy policy
    </a>
  </div>
</footer>
