@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --accent: #3275a5;
    --foreground: #393939;
    --background: #f4f4f4;
    --wash-light: lightgrey;
    --wash-dark: #6f6f6f;

    background: var(--background);
    color: var(--foreground);

    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 320)));
  }

  html.dark {
    --foreground: #e5e5e5;
    --background: #141414;
    --wash-dark: #808080;
  }

  a {
    @apply hover:opacity-70;
  }

  small {
    @apply block text-xs text-wash-dark;
  }

  *:focus {
    @apply outline-black;
  }

  html.dark *:focus {
    @apply outline-white;
  }
}
