---
layout: layouts/page.njk
title: About
description: About me.
---

<section>
  <h2>About me</h2>

  <p>
    I&apos;ve been making a living out of web development since my first year of
    college. Currently, I&apos;m a full-stack developer at
    <a target="_blank" rel="noopener" href="https://finiam.com">Finiam</a>,
    helping our partners untangle the mess of the finance world. I've
    previously worked at
    <a target="_blank" rel="noopener" href="https://auroradigital.co"
      >Aurora Digital</a
    >, helping make digital products in the health care area. We are all
    friends, so drop us a message if you need consulting services in these
    areas.
  </p>

  <p>
    I always considered myself a React and Ruby on Rails developer, but I've
    been working professionally with way to many things to limit myself to that
    publicly 😅
  </p>

  <p>
    I've worked with countless frameworks, libraries and languages, but some of
    my favorite ones: Next.js, Gatbsy, Eleventy, Elixir (mostly with Phoenix),
    Node.js (mostly with Express). You can see all of it on my
    <a href="{{ social.github.href }}">Github profile</a>.
  </p>

  <p>
    I'm also a JAMstack nerd, so I'm a extensive user of Netlify and Vercel.
    Serverless functions, static website generators, that sort of things.
  </p>
</section>
