---
permalink: "books.html"
layout: layouts/page.njk
title: Francisco Sousa | Bookshelf
description: A software developer.
---

<section>
  <h2>Stuff I've read</h2>
</section>

<p>
  My personal bookshelf. Not much to say, just wanted to make nice things with
  the Goodreads API 😛
</p>

<section>
  <ul>
    {% for book in books %}
    <li class="Book">
      <a href="{{ book.url }}" target="_blank" rel="noopener">{{
        book.short_title
      }}</a>
      by {{ book.author }}
    </li>
    {% endfor %}
  </ul>
</section>
