---
layout: layouts/page.njk
title: Francisco Sousa
description: A software developer.
---

<section>
  <p>Hi, I'm Francisco and I make websites and computer stuff.</p>

  <p>
    I'm building digital products for the finance world @
    <a target="_blank" rel="noopener" href="https://finiam.com">finiam.com</a>.
  </p>

  <p>
    I'm both a backend and frontend person. I can't design 😢 (yet...), so I work with skilled designer friends on most of my projects.

    If you like my work, feel free to <a href="mailto:{{social.email.value}}">reach out via email</a>!
  </p>
</section>
