---
layout: layouts/page.njk
title: Projects
description: About me.
---

<section>
  <header>
    <h2>Projects</h2>
  </header>

  <p>
    During my free time I often work on some freelancing projects with some
    designer friends. You can check the open source ones (and other misc stuff)
    on
    <a target="_blank" rel="noopener" href="https://github.com/jfranciscosousa"
      >GitHub</a
    >.
  </p>

  <ul class="Projects">
    {% for project in projects %}
    <li class="Project">
      <div class="Project-titleContainer">
        <a
          target="_blank"
          rel="noopener"
          class="Project-title"
          href="{{ project.href }}"
          >{{ project.name }}</a
        >

        {% if project.github %}
        <a
          target="_blank"
          rel="noopener"
          class="Project-github"
          href="{{ project.github }}"
          aria-label="GitHub Link"
        >
          {% include "icons/github.svg" %}
        </a>
        {% endif %}
      </div>

      <p class="Project-description">{{ project.description }}</p>
      <small class="Project-tags">{{ project.tags }}</small>
    </li>
    {% endfor %}
  </ul>
</section>
