---
import "~/styles/index.css";

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
}

const defaultTitle = "Francisco Sousa";
const defaultDescription =
  "Hi, I'm Francisco and I'm a software engineer that does computer stuff.";
const defaultKeywords =
  "software, engineering, frontend, react, svelte, zustand, redux, rails, elixir, phoenix, discord, blog, web, css, javascript, html, node, typescript";
---

<html lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="FDXItIKO2EOVckY3y3tYZhrA8Lj6gvClq-108dEOpO0"
    />
    <meta charset="utf-8" />
    <title>
      {
        Astro.props.title
          ? `${Astro.props.title} | Francisco Sousa`
          : defaultTitle
      }
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content={Astro.props.description || defaultDescription}
    />
    <meta name="keywords" content={Astro.props.keywords || defaultKeywords} />

    {
      import.meta.env.MODE === "production" && (
        <script
          data-goatcounter="https://jfranciscosousa.goatcounter.com/count"
          async
          src="//gc.zgo.at/count.js"
        />
      )
    }

    <script is:inline>
      (function () {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      })();
    </script>

    <script>
      import { listen } from "quicklink";

      document.addEventListener("DOMContentLoaded", () => {
        listen();
      });
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>
