---
import Footer from "~/components/Footer.astro";
import Navbar from "~/components/Navbar.astro";
import EmptyLayout from "./EmptyLayout.astro";
---

<EmptyLayout {...Astro.props}>
  <div class="flex flex-col min-h-screen p-8 sm:px-4">
    <div class="max-w-3xl w-full mx-auto mb-auto">
      <Navbar />

      <div class="mx-auto my-20 md:my-10 max-w-2xl flex-grow">
        <slot />
      </div>
    </div>

    <Footer />
  </div>
</EmptyLayout>
