---
import "~/styles/index.css";

const frontmatter = Astro.props.frontmatter || Astro.props;
const defaultTitle = "Francisco Sousa";
const defaultDescription =
  "Hi, I'm Francisco and I'm a software engineer that does computer stuff.";
---

<html lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="FDXItIKO2EOVckY3y3tYZhrA8Lj6gvClq-108dEOpO0"
    />
    <meta charset="utf-8" />
    <title>
      {
        frontmatter.title
          ? `${frontmatter.title} | Francisco Sousa`
          : defaultTitle
      }
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content={frontmatter.description || defaultDescription}
    />

    <script is:inline>
      (function () {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      })();
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>
