name: CI
permissions:
  contents: read
  pull-requests: write

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: browser-actions/setup-chrome@v2
      - run: chrome --version

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: marocchino/tool-versions-action@v1
        id: versions

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: ${{ steps.versions.outputs.pnpm }}
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.versions.outputs.nodejs }}

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v5
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-20250923

      - name: Install dependencies, lint and build
        run: |
          pnpm install
          pnpm run lint
          pnpm run ts-check
          pnpm run build-prod
          pnpm run a11y
        env:
          SKIP_BOOKS: true
